<div class="card" style="width: 18rem;">
    <img class="card-img-top" [src]="productInfo.productImage" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{productInfo.productName}}</h5>
      <p class="card-text">{{productInfo.productDescription}}</p>
      <p class="card-text">Rating: {{rating}} </p>
    </div>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">$</span>
      </div>
      <input type="number" class="form-control" aria-label="Sizing example input" [value]="productInfo.productPrice" aria-describedby="inputGroup-sizing-sm" disabled>
    </div>
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Quantity in Stock</span>
        </div>
        <input type="number" class="form-control" aria-label="Sizing example input" [value]="productInfo.productQuantity" aria-describedby="inputGroup-sizing-sm" disabled>
      </div>
    <div class="card-body">
      <input type="number" class="form-control " min="1" [(ngModel)]="quantity" >
      <!-- <input type="number" class="form-control " [(ngModel)="quantity"]> -->
        <button class="btn btn-outline-success" (click)="addToCart(productInfo, quantity)">Add to Cart</button>
    </div>
    <div >
      Reviews
      <app-user-review *ngFor="let review of reviews"
                       [reviewInfo]="review"
                       ></app-user-review>
    </div>
  <div>
    Leave a review
    <app-post-review [productId]="productInfo.productId"  (addReviewEvent)="addReview($event)"></app-post-review>
  </div>
  </div>
